// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$jonquil: #FCCB02ff;
$french-blue: #2572BDff;
$midnight-blue: #120E51ff;
$st-patricks-blue: #332D67ff;
$purple-navy: #554C7Dff;
$rhythm: #766B92ff;
$glossy-grape: #978AA8ff;
$lavender-blush: #FBF0F6ff;
$thistle: #DFC3D5ff;
$lilac: #C296B3ff;
