// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.parent {
  position: relative;
  top: 0;
  left: 0;

}

.background {
  /* Positioning */
  position: relative;
  top: 0;
  left: 0;

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.main_logo{
  position: absolute;
  left: 50%;
  top: 15%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.pokemon_logo{
  position:relative;
  width: 60vw;
}

.mew{
  position: absolute;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:35%;
}

.trainer-container {
  position: absolute;
  bottom: 0;
  height: 75vh;
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: space-between;
}

.home-search{
  position: inherit;
  top: 165%;
  left: 50%;
  transition: all 1s;
  transform: translate(-50%,-70%);
  width: 50px;
  height: 50px;
  background: #FBF0F6ff;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #C296B3ff;
  padding: 5px;
}

.home-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #C296B3ff;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.home-search:hover,
.home-search:valid{
  width: 200px;
  cursor: pointer;
}

.home-search:hover .home-input,
.home-search:valid .home-input{
  display: block;
}

.home-search:hover .fa,
.home-search:valid .fa{
  background: #FBF0F6ff;;
  color: #C296B3ff;
}

.searchbar {
display: none;
position: absolute;
top: 70px;
bottom:0;
left: 0;
right: 0;
font-size: 20px;
color: #FBF0F6ff;
text-align: center;
width: 100%;
}

.home-search:valid .searchbar {
display: block;
}
