<h1>My bookings</h1>

<table style="table-layout: fixed; width: 70vw;">
  <tr>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
    <th>Action</th>
  </tr>
  <% @bookings.each do |b| %>
    <% if b.user == @user && b.status != "Canceled" %>
      <tr>
        <td><%= link_to b.pokemon.name, pokemon_path(b.pokemon) %></td>
        <td><%= b.start_date %></td>
        <td><%= b.end_date %></td>
        <td><%= link_to "Cancel this booking", cancel_booking_path(b), method: :patch,
                data: {confirm: 'You are about to cancel you booking for this pokemon, are you sure?'} %></td>
      </tr>
    <% end %>
  <% end %>
</table>
