  <footer>
    <div class="footer">
      <div id="button"></div>
        <div id="container">
          <div id="cont">
            <div class="footer_center">
	            <h3>Mewbnb</h3>
                <ul>
                  <li>Billy Veillette-Daigle</li>
                  <li>Wendy Pham</li>
                  <li>Jonathan Jenin</li>
                  <li>Randja Raharijaona</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
