  <footer>
    <div class="footer">
      <div id="button"></div>
        <div id="container">
          <div id="cont">
            <div class="footer_center">
	            <h3>Mewbnb</h3>
                <ul>
                  <li><%= link_to 'Billy Veillette-Daigle', 'https://github.com/bvd86' %></li>
                  <li><%= link_to 'Jonathan Jenin', 'https://github.com/jonathanjenin' %></li>
                  <li><%= link_to 'Randja Raharijaona', 'https://github.com/randzoh' %></li>
                  <li><%= link_to 'Wendy Pham', 'https://github.com/wendy-ph' %></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
