    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newUserModal">
      Sign-Up
    </button>

    <!-- Modal -->
    <div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newUserModalLabel">Sign-Up</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for (@user) do |f| %>
              <%= f.input :email %>
              <%= f.input :password %>

          </div>
          <div class="modal-footer">
          <button type="button" class="nav-link btn rounded-pill" data-bs-dismiss="modal">Close</button>
                <%= f.submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
