<% content_for :content do %>
  <div class="container-landing">
    <div class="left">
      <div class="hero-content">
        <h2 id="mew-title">Gotta Rent Em All! <br>
        MewBnB</h2>
        <p id="mew-text">Learn to be a better trainer<br>
        or rent your high level pokemon to<br>
        new trainers for some Pokedollars</p>
          <div class="start-here">
            <%= link_to "Browse Pokemons", pokemons_path, class:"btn btn-grad" %>
            <p>Find the perfect pokemon<br>
            to continue your journey</p>
          </div>
      </div>
    </div>
    <div class="right">
      <div class="mew-animation">
        <%= image_tag "mew_2.gif", alt:"Mew Animation" %>
      </div>
    </div>
  </div>
<% end %>
