// $colors: #68F70C, #F9B80E, #36AFF6, #EAEADE, #5FB9B2, #A72BD7, #FFFA24, #DFD058
// #D45F64, #ED1364, #958450, #1A94A3, #8F54A4, #8A56FE, #5E4533, #596260, #FD9FC2;
// $repeat: 20;

// @for $i from 1 through $repeat {
//   .card-container .card:before:nth-child(#{length($colors)}n+#{$i}) {
//       background: (nth($colors, random(length($colors))));
//   }
// }


.card-container{
 display: flex;
 flex-wrap: wrap;
 margin-bottom: 20px;
}

.card-container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  z-index: 0;
  margin: 15px auto;
}

.card-container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bubble-color);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.card-container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.card-container .card:after{
  content: attr(data-text);
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: var(--text-color);
}

.level h5 {
  color: #fff;
}

.type h3 {
  color: #fff;
}
.card-container .card .imgBox{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.card-container .card:hover .imgBox{
  top: 0%;
  transform: translateY(0%);

}

.card-container .card .imgBox img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.card-container .card .contentBox{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.card-container .card:hover .contentBox{
  height: 210px;
}

.card-container .card .contentBox h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.card-container .card .contentBox .type, .card-container .card .contentBox .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.card-container .card:hover .contentBox .type{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.card-container .card:hover .contentBox .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.card-container .card .contentBox .type h5, .card-container .card .contentBox .color h5{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.card-container .card .contentBox .type span{
  width: 60px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.card-container .card .contentBox a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.card-container .card:hover .contentBox a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}
