.booking-form {
  box-shadow: 1px 1px 26px 5px rgba(0,0,0,0.2);
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.submit {
  margin: 0 auto;
}

.form-content {
  display: flex;
}

.image-left-form {
  width: 25vw;
}

.right-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:auto;
}

.poke-booking-form {
  box-shadow: 1px 1px 26px 5px rgba(0,0,0,0.2);
  width: 50vw;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.poke-btn{
  display: flex;
  justify-content: center;
}

.poke-h2{
  text-align: center;
}
