.navbar-lewagon {
  justify-content: space-between;
  background: $lavender-blush;
  box-shadow: 0 0px 7px rgba(0,0,0,0.2);

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand {

    margin-left: 0.5rem;
    margin-right: 0.5rem;

    img {
    width: 40px;
    padding-left: 3px;
    padding-top: 3px;
    }
  }

  a {
    text-decoration: none;
    color: $purple-navy;

    &:hover {
      color: $rhythm;
    }
  }

  .mewbnb {
    font-family: $mewbnb-font;
    font-size: 24px;
    padding-top: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }
}

.navbar-nav {
  gap: 8px;
}

.nav-text {
  font-family: $body-font;
  font-size: 14px;
}

.active {
  border-radius: 16px;
  background-color: white;
}

#signup {
  background-color: white !important;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 1px 2px black;
}

// FOR THE SEARCH BAR //
.home-search{
  position: absolute;
  top: 66%;
  left: 50%;
  transition: all 1s;
  transform: translate(-50%,-70%);
  width: 50px;
  height: 50px;
  background: #FBF0F6ff;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #C296B3ff;
  padding: 5px;
}

.home-input{
  position: inherit;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.home-search:hover,
.home-search:valid{
  width: 200px;
  cursor: pointer;
}

.home-search:hover .home-input,
.home-search:valid .home-input{
  display: block;
}

.home-search:hover .fa,
.home-search:valid .fa{
  background: #FBF0F6ff;;
  color: #C296B3ff;
}

.searchbar {
display: none;
position: absolute;
top: 70px;
bottom:0;
left: 0;
right: 0;
font-size: 20px;
color: #FBF0F6ff;
text-align: center;
width: 100%;
}

.home-search:valid .searchbar {
display: block;
}

.available {
  display: flex;
  justify-content: center;
}
