.navbar-lewagon {
  justify-content: space-between;
  background: $lavender-blush;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  a {
    text-decoration: none;
    color: $purple-navy;

    &:hover {
      color: $rhythm;
    }
  }

  .mewbnb {
    font-family: $mewbnb-font;
    font-size: 24px;
    padding-top: 0;
  }
}

.navbar-nav {
  gap: 8px;
}




.nav-text {
  font-family: $body-font;
  font-size: 14px;
}

.active {
  border-radius: 16px;
  background-color: white;
}

#signup {
  background-color: white !important;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 1px 2px black;
}
