.select2-selection--single {
  background-color: #F4F4F4 !important;
  border: 1px solid #ced4da !important;
  border-radius: 2px !important;
  color: #0E0000 !important;
  height: 150px !important;
}
